.movieslist {
    width: 89.07%;
    margin: auto;
}

.movieslist__card {
    display: grid;
    grid-template-columns: repeat(auto-fill, 270px);
    row-gap: 38px;
    column-gap: 20px;
    list-style: none;
    padding-left: 0;
    margin: auto;
    justify-content: center;
}

.movieslist__more {
    margin-top: 60px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 80px;
    width: 100%;
    height: 36px;
    background: #F9F9F9;
    border-radius: 6px;
    outline: none;
    border: none;
}

.movieslist__more:hover {
    opacity: .6;
    transition-duration: .5s;
    cursor: pointer;
}