.moviescard {
    max-width: 270px;
}

.moviescard__title {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    max-width: 206px;
    margin-top: 14px;
    margin-bottom: 0;
}

.moviescard__image {
    width: 270px;
}

.moviescard__like-button {
    border: none;
    outline: none;
    background: none;
    padding: 0;
}

.moviescard__like-button:hover {
    opacity: .4;
    transition-duration: .5s;
    cursor: pointer;
}

.moviescard__delete-button_hidden {
    visibility: hidden;
}

.moviescard__time {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    color: #A0A0A0;
    margin-bottom: 0;
    padding-top: 6px;
}

.moviescard__info {
    display: flex;
    justify-content: space-between;
}

.moviescard__info::after {
    position: absolute;
    content: '';
    border-bottom: 1px solid #E8E8E8;
    width: 270px;
    display: block;
    margin-top: 55px;
}

@media screen and (max-width: 768px) and (min-width: 320px) {
    
    .moviescard {
        max-width: 300px;
    }

    .moviescard__image {
        width: 300px;
    }

    .moviescard__title {
        font-size: 12px;
        line-height: 15px;
    }

    .moviescard__time {
        font-size: 10px;
        line-height: 12px;
        margin-top: 0;
    }

    .moviescard__info::after {
        width: 300px;
    }
}

@media screen and (max-width: 1260px) and (min-width: 768px) {
    
    .moviescard {
        max-width: 339px;
    }

    .moviescard__image {
        width: 339px;
    }

    .moviescard__title {
        font-size: 13px;
        line-height: 16px;
    }

    .moviescard__info::after {
        width: 339px;
    }
}


