.portfolio__title {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    color: #A0A0A0;
    margin-top: 0;
    margin-bottom: 50px;
}

.portfolio__block {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.portfolio {
    width: 1140px;
    margin: auto;
    margin-bottom: 125px;
}

.portfolio__link {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -0.04em;
    color: black;
    text-decoration: none;
    margin-top: 0;
    position: relative;
    margin-bottom: 0;
}

.portfolio__line {
    border-bottom: 1px solid #E8E8E8;
    margin-top: 20px;
    margin-bottom: 20px;
}

.portfolio__icon:hover {
    opacity: 0.7;
    cursor: pointer;
}

.portfolio__link:hover {
    opacity: 0.7;
}

