.form {
    width: 30.94%;
    margin: auto;
    margin-top: 70px;
}

.form__logo {
    margin-bottom: 40px;
}

.form__welcome {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-top: 0;
    margin-bottom: 40px;
}

.form__button-container {
    background: #2BE080;
    outline: none;
    border: none;
    border-radius: 3px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    width: 100%;
    height: 45px;
    margin-top: 65px;
    padding-right: 0;
}

.form__field {
    width: 96.21%;
    height: 46px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #000;
    border: 0;
    background: #F9F9F9;
    border-radius: 8px;
    outline: none;
    padding-left: 15px;
    margin-bottom: 0;
    padding-right: 0;
    margin-top: 0;
}

.form__field:invalid:not(:focus) {
    color: #EE3465;
}

.form__signin {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #A0A0A0;
    margin-top: 16px;
}

.form__login-link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #2BE080;
    text-decoration: none;
}

.form__button-container:hover {
    opacity: 0.8;
    cursor: pointer;
    transition-duration: .5s;
}

.form__field:-webkit-autofill {
    box-shadow: none;
    -webkit-box-shadow: inset 0 0 0 50px #F9F9F9 !important; /* Цвет фона */
    -webkit-text-fill-color: #000 !important; /* цвет текста */
    color: #000 !important; /* цвет текста */
}

.form__name {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #A0A0A0;
    margin-top: 20px;
}

.form__field-error {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #EE3465;
    margin-top: 10px;
}

@media screen and (max-width: 500px) and (min-width: 320px) {
    .form {
        width: 81.25%;
        margin-top: 56px;
    }

    .form__logo {
        margin-bottom: 50px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .form__welcome {
        margin-bottom: 80px;
        text-align: center;
    }

    .form__button-container {
        margin-top: 157px;
    }
}

@media screen and (max-width: 600px) and (min-width: 500px) {
    .form {
        width: 70.56%;
    }
}

@media screen and (max-width: 850px) and (min-width: 600px) {
    .form {
        width: 51.56%;
        margin-top: 232px;
    }
}

@media screen and (max-width: 1080px) and (min-width: 850px) {
    .form {
        width: 40%;
    }
}