.about {
    width: 89.06%;
    margin: auto;
    margin-top: 110px;
}

.about__title {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.04em;
    padding-bottom: 23px;
    margin-bottom: 66px;
    margin-top: 0;
    border-bottom: 1px solid #000;
}

.about__name {
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -0.04em;
    margin-top: 0;
    margin-bottom: 20px;
}

.about__job {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 26px;
}

.about__text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    width: 75.86%;
    margin-top: 0;
    margin-bottom: 99px;
}

.about__link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    text-decoration: none;
    margin-right: 20px;
}

.about__link:hover {
    opacity: 0.7;
}

.about__data {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.about__photo {
    border-radius: 15px;
    object-fit: cover;
    object-position: top;
}

@media screen and (max-width: 484px) and (min-width: 320px) {

    .about__title {
        font-size: 18px;
        line-height: 22px;
        padding-bottom: 28px;
        margin-bottom: 60px;
        margin-top: 0;
    }
}

@media screen and (max-width: 658px) and (min-width: 320px) {
    .about {
        margin-top: 70px;
    }

    .about__photo {
        width: 292px;
        margin: auto;
        order: 1;
        margin-bottom: 40px;
    }

    .about__data {
        margin-bottom: 70px;
        flex-flow: wrap;
    }

    .about__name {
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 20px;
    }

    .about__job {
        font-size: 11px;
        line-height: 16px;
        margin-bottom: 20px;
    }

    .about__text {
        font-size: 11px;
        line-height: 16px;
        margin-bottom: 40px;
        width: 91.25%;
    }

    .about__description {
        order: 2;
    }
}

@media screen and (max-width: 810px) and (min-width: 658px) {

    .about {
        margin-top: 90px;
    }

    .about__title {
        padding-bottom: 23px;
    }

    .about__name {
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 16px;
    }

    .about__job {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 20px;
    }

    .about__text {
        font-size: 12px;
        line-height: 18px;
        width: 87.92%;
        margin-bottom: 87px;
    }

    .about__photo {
        width: 255px;
    }
}

@media screen and (max-width: 862px) and (min-width: 810px) {
    .about__text {
        margin-bottom: 70px;
    }
}


@media screen and (max-width: 969px) and (min-width: 863px) {
    .about__text {
        width: 89.92%;
    }
}